@model IEnumerable<Capstone.Models.TripItem>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Trip.Name</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zoo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoo.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zoo.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo.State)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.TripItemId">Remove From Trip</a>
            </td>
            <td>
                <a asp-action="Create" asp-controller="Visits" asp-route-id="@item.ZooId">I've Visited!</a>
            </td>
        </tr>
}
    </tbody>
</table>
