@model IEnumerable<Capstone.Models.Zoo>

@{
    ViewData["Title"] = "Search";
}

<!-- Added to Wishlist Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Added to wishlist!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

<h1>Search Results</h1>

@if (Model.Count() == 0)
{
    <h3>Sorry, no zoos match your search</h3>
}
else
{
    <h6 class="state-count">(@Model.Count() Results)</h6>

    <div class="card-container">

        @foreach (var item in Model)
        {
            <div class="card zoo-item" id="@item.ZooId">
                <div class="card-body">
                    <a class="btn btn-plain" href="@Html.DisplayFor(modelItem => item.WebsiteURL)" target="_blank"><h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State)</h6>
                    <div class="icons">
                        <form asp-action="Create" asp-controller="WishlistItems" asp-route-id="@item.ZooId" data-toggle="modal" data-target="#exampleModal"><button type="submit" class="btn btn-plain"><i class="fas fa-star"></i></button></form>
                        <a class="btn btn-plain" asp-action="Create" asp-controller="TripItems" asp-route-id="@item.ZooId"><i class="fas fa-plus"></i> Trip</a>
                        <a class="btn btn-plain" asp-action="Create" asp-controller="Visits" asp-route-id="@item.ZooId"><i class="fas fa-check"></i> Visited</a>
                    </div>
                </div>
            </div>
        }
    </div>
}