@model IEnumerable<Capstone.Models.GroupedZoos>

@{
    ViewData["Title"] = "ZoosGroupedByState";
}

<h1>Zoos By State</h1>

<div>
                <table>
    @foreach (var item in Model)
    {
        <thead>
            <tr>
                <td class="state-name">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
            </tr>
            <tr>
                @if (item.ZooCount > 3)
                {
                    @* pass state name as route parameter *@
                    <td>(<a href=@($"http://localhost:5000/Zoos/ZoosInState?state={item.State}")>See All @Html.DisplayFor(modelItem => item.ZooCount)</a>)</td>
                }
            </tr>
            </thead>
                    <tbody class="table">
                        @foreach (var zoo in item.Zoos)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => zoo.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => zoo.City)
                                </td>
                                <td>
                                    @* placing this in a form instead of an <a> allows it to be a true POST request, while as an <a> it would be a GET request creating data which is not good practice *@
                                    <form asp-action="Create" asp-controller="WishlistItems" asp-route-id="@zoo.ZooId"><button type="submit" class="btn"><i class="fas fa-star"></i></button></form>
                                </td>
                                <td>
                                    <a class="btn" href="@Html.DisplayFor(modelItem => zoo.WebsiteURL)" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                                </td>
                                <td>
                                    <a class="btn" asp-action="Create" asp-controller="TripItems" asp-route-id="@zoo.ZooId"><i class="fas fa-plus"></i> Trip</a>
                                </td>
                                <td>
                                    <a class="btn" asp-action="Create" asp-controller="Visits" asp-route-id="@zoo.ZooId"><i class="fas fa-check"></i> Visited</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                }
                </table>
    </div>
