@model IEnumerable<Capstone.Models.GroupedZoos>

@{
    ViewData["Title"] = "ZoosGroupedByState";
}

<!-- Added to Wishlist Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Added to wishlist!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


<div class="state-letters">
    JUMP TO:
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Alabama">A-D</a> |
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Florida">F-K</a> |
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Louisiana">L-M</a> |
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Nebraska">N</a> |
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Ohio">O-S</a> |
    <a href="https://localhost:5001/Zoos/ZoosGroupedByState/#Tennessee">T-W</a>
</div>

<h1 class="title">Zoos By State</h1>

<div>
    @foreach (var item in Model)
    {

        <h2 id="@item.State" class="state-name">
            @Html.DisplayFor(modelItem => item.State)
        </h2>

        @if (item.ZooCount > 3)
        {
            @* states with two-word names won't route correctly unless the space is removed *@
            var state = item.State.Replace(' ', '-');


            @* pass state name as route parameter *@
            <a class="state-count" href=@($"http://localhost:5000/Zoos/ZoosInState?state={state}")>(See All @Html.DisplayFor(modelItem => item.ZooCount))</a>
        }



        <div class="card-container">

            @foreach (var zoo in item.Zoos)
            {
                <div class="card by-state-card zoo-item" id="@zoo.ZooId">
                    <div class="card-body">
                        <a class="btn btn-plain" href="@Html.DisplayFor(modelItem => zoo.WebsiteURL)" target="_blank"><h5 class="card-title">@Html.DisplayFor(modelItem => zoo.Name)</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => zoo.City)</h6>
                        <div class="icons">
                            <form asp-action="Create" asp-controller="WishlistItems" asp-route-id="@zoo.ZooId" data-toggle="modal" data-target="#exampleModal"><button type="submit" class="btn btn-plain"><i class="fas fa-star"></i></button></form>
                            <a class="btn btn-plain" asp-action="Create" asp-controller="TripItems" asp-route-id="@zoo.ZooId"><i class="fas fa-plus"></i> Trip</a>
                            <a class="btn btn-plain" asp-action="Create" asp-controller="Visits" asp-route-id="@zoo.ZooId"><i class="fas fa-check"></i> Visited</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
