@model IEnumerable<Capstone.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>My Trips</h1>

<p>
    <a asp-action="Create">Add A Trip</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table">
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-plain" asp-action="Index" asp-controller="TripItems" asp-route-id="@item.TripId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <div class="icons">
                <a class="btn btn-plain" asp-action="Edit" asp-route-id="@item.TripId"><i class="fas fa-edit"></i></a>
                <a class="btn btn-plain" asp-action="Delete" asp-route-id="@item.TripId"><i class="far fa-trash-alt"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
