@model IEnumerable<Capstone.Models.Visit>

@{
    ViewData["Title"] = "Index";
}

<h1>Visit History</h1>

<div class="card-container">

    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Zoo.Name)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Date)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Comments)</p>
                <div class="icons">
                    <a class="btn btn-plain" asp-action="Edit" asp-route-id="@item.VisitId"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-plain" asp-action="Delete" asp-route-id="@item.VisitId"><i class="far fa-trash-alt"></i></a>
                </div>
            </div>
        </div>
    }
</div>