@model IEnumerable<Capstone.Models.WishlistItem>

@{
    ViewData["Title"] = "Index";
}

<h1>My Wishlist</h1>

@*<p>
    <a asp-action="Create">Add A Zoo</a>
</p>*@
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zoo)
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody class="table">
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="btn btn-plain" href="@Html.DisplayFor(modelItem => item.Zoo.WebsiteURL)" target="_blank">@Html.DisplayFor(modelItem => item.Zoo.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zoo.City), @Html.DisplayFor(modelItem => item.Zoo.State)
            </td>
            <td>
                <div class="icons">
                    <a class="btn btn-plain" asp-action="Delete" asp-route-id="@item.WishlistItemId"><i class="far fa-trash-alt"></i></a>
                    <a class="btn btn-plain" asp-action="Create" asp-controller="TripItems" asp-route-id="@item.ZooId"><i class="fas fa-plus"></i> Trip</a>
                    <a class="btn btn-plain" asp-action="Create" asp-controller="Visits" asp-route-id="@item.ZooId"><i class="fas fa-check"></i> Visited</a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
